git+https://github.com/leggedrobotics/rsl_rl.git#egg=rsl_rl
matplotlib
hydra-core
-f https://download.pytorch.org/whl/cu113/torch_stable.html
torch==1.11.0+cu113
git+https://github.com/erwincoumans/motion_imitation.git#egg=motion_imitation